<?xml version="1.0" encoding="windows-1251" ?>
<configuration>
	<connectionStrings>
		<add name="CurrenciesDataBase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\denis\Desktop\CurrencyConverter\XmlApiRequester\CurrenciesDataBase.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>